@charset "UTF-8";

/*TREBUIE SA REDENUMESC */
.SING, .ENT, .allENTS,
.addForm,#EDITform      {position: relative;}

.SING, .ENT {border: 2px #f3f3f3 solid; }

.SING:hover,
.ENT:hover  {border: 2px solid orange; border-radius: 7px;}


/*.TOOLSem {float: right; text-align: right;}*/


.TOOLSem {
    left: 100%;
    position: absolute;
    margin-top: -5px;
    margin-right: 0px;
    margin-left: -15px;
    float: right;
    text-align: right;
    z-index: 199;
}
.allENTS > .TOOLSem{left: 100%; margin-left: -20px; margin-top: -15px;  display: none; }
.SING >.TOOLSem {left: 100%;  margin-left: -15px;}

.ENT + #EDITform > .TOOLSem {width: 60px; left: 100%; margin-left: -60px;}
.SING + #EDITform > .TOOLSem {width: 40px; left: 100%; margin-left: -40px;}
.addForm > .TOOLSem {width: 42px; left: 100%; margin-left: -42px;}




.pageCont input[type="text"]{
    /*padding: 0px;*/
    outline-offset: 0px;

    border: 0px !important;
    outline: 1px inset lightgray;

    background-color:rgba(255,255,255,0.5);
}
.pageCont textarea{
    padding: 0px 0px;
    overflow: hidden !important;
    resize: none !important;

    border: 0px !important;
    outline: 1px inset lightgray;
    background-color:rgba(255,255,255,0.5);
}
.pageCont .TOOLSem input[type='button'],
.pageCont .TOOLSem input[type=submit]{


    border: 1px inset #DDD;
    font-size: 9px;
    margin: 0px 0px 0px 4px;
    padding: 1px 5px;
    border-radius: 7px;
    box-shadow: 1px 1px 6px 2px #BBB,0px -3px 6px 4px white;
    width: 15px;

}


.pageCont .TOOLSem input[type='button']:hover,
.pageCont .TOOLSem input[type=submit]:hover{ cursor: pointer; }



/*________________________[edit button]________________________________________*/
.pageCont .TOOLSem input[type=button][value='e']{ background: #b6fff5;}
.pageCont .TOOLSem input[type=button][value='e']:hover{ background:  #00ffff;}

/*_______________________[ save edit]__________________________________________*/
.pageCont .TOOLSem input[type=submit][value='s']{ background: #b5ff83;}
.pageCont .TOOLSem input[type=submit][value='s']:hover{ background:  #93ff23;}

/*_______________________[ save edit]__________________________________________*/
.pageCont .TOOLSem input[type=button][value='x']{ background: #ffbf64;}
.pageCont .TOOLSem input[type=button][value='x']:hover{ background:  #ff9b00;}

/*___________________________________________________________________________*/


.hotTitle {font-size: 15pt; font-weight: bold;}

table.cke_editor tr:last-child {display: none;}
span.cke_skin_kama {padding: 0px !important;}
.cke_skin_kama .cke_wrapper {padding: 1px !important;}




/*________________________[TOOL TIP]________________________________________*/
.TOOLSem span {position: relative;}

.TOOLSem span i {
    font-size: 12px;
    box-shadow: 2px -1px 4px 0px #BBB;
    line-height: 14px;
    text-align: center;
    visibility: hidden;
    border: 1px outset #f5f5f5;
    bottom: 60px;
    left: 50%;
    margin-left: -25px;
    opacity: 0;
    padding: 4px 10px;
    position: absolute;
    width: 30px;
    z-index: 199;

/*

    background-image:-webkit-linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.2));
    background-image:-moz-linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.2));
    background-image:-ms-linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.2));
    background-image:-o-linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.2));
    background-image:linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.2));
*/

    background-color: #fff;

    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    -o-border-radius:5px;
    border-radius:5px;

    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;
}

.TOOLSem span input[name='EDIT']+i {
    margin-left: -45px;
    width: 70px;
}
.TOOLSem span input[name^='delete']+i {
    margin-left: -29px;
    width: 40px;
}

.TOOLSem input[type='submit']:hover + i,
.TOOLSem input[type='button']:hover + i{
    bottom:27px;
    opacity:0.95;
    visibility:visible;
}

.TOOLSem i::before, .TOOLSem  i::after {
    border-bottom: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #444;
    bottom: -7px;
    content: "";
    left: 50%;
    margin-left: -6px;
    position: absolute;
    z-index: 100;
}