/**
 * Author: Paul Cioanca
 * Author URI: cioan.ca
 * 2012
 */

/* resetting some default styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1.2;
    font-family: "Arial", "Helvetica", sans-serif;
}

ol, ul, dl {
    list-style: none;
}

li {
    padding-top: 1px;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

:focus {
    outline: 0;
}

a:focus {
    outline: 1px dotted #999;
}

ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html {
    font-size: 100%;
}

body {
    font-size: 13px;
}

textarea {
    overflow: auto
}

button {
    cursor: pointer
}

input[type="checkbox"],
input[type="radio"],
input.radio,
input.checkbox {
    vertical-align: text-top;
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    position: relative;
    overflow: hidden;
    top: 2px;
}

a {
    color: #707070;
    font-weight: 700;
    text-decoration: none;
}

a:hover {
    color: #c6c6c6;
    font-weight: 700;
}

/*  -----------------------------------
  a better and smarter way to clear floats
--------------------------------------*/

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.clearfix {
    display: inline-block
}

/* Hide from IE Mac \*/
.clearfix {
    display: block
}

/* End hide from IE Mac */
* html .clearfix {
    height: 1px
}

#menu {
    float: left;
    width: 100px;
    height: 100%;
    background: #f0f0f0;
    border-right: 1px #a2a2a2 solid;
}

#menu dl{
    padding-top: 3px;
    padding-left: 7px;
}

form {
    width: 80%;
}
#content h1 {
    font-size: 30px;
}
#content h2 {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 20px;
}
#content {
    padding-left: 10%;
    height: 100%;
    color: #707070;
}
